:root { 
    font-family: Arial, Helvetica, sans-serif;  
}

body {
    display: flex; 
    width: auto; 
    margin: 0px; 
    padding: 0px; 
    justify-content: center;
    background-color: black; 
}

.main-container { 
    display: flex; 
    width: 90%; 
    justify-content: center; 
    margin: 0px;  
    padding: 0px; 
}

.left-container { 
    display: flex; 
    background-image: url("../images/flower.jpg"); 
    background-size: cover; 
    background-position: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    
}

.right-container { 
    display: flex; 
    flex-direction: column ; 
    background-color: whitesmoke;
    width: 60%; 
    justify-content: space-between;
    flex-grow: 1; 
    flex-shrink: 0; 
    height: 1000px;
    margin-right: 0px; 
    overflow: hidden; 
}

.left-header-overlay { 
    display: flex;
    background-color: #33333399;
    width: 100%;
    flex-shrink: 0;

  
}

.left-header-overlay h1 { 
    font-size: 60px;

}

.rubik-wet-paint-regular {
  font-family: "Rubik Wet Paint", system-ui;
  font-weight: 400;
  font-style: normal;
  color: white; 
}

.left-top { 
    display: flex; 
    flex-direction: column; 
    justify-content: flex-end;
    height: 50%;
    width: 100%; 
}

.left-bottom { 
    display: flex; 
    flex-direction: column; 
    justify-content: flex-end;
    height: 100%; 
    margin-left: -10px;
    padding-bottom: 1em; 
    
}

.left-bottom div { 
    color: whitesmoke; 
    font-size: 14px; 
}

.left-bottom a { 
    color: whitesmoke; 
    
}

.crop-container { 
    display: flex;
    justify-content: flex-end;
    width: 150px;
    flex-grow: 0;
    flex-shrink: 0;
    margin-left: 20%;
    margin-right: -10px;
}

#logo { 
    width: 100%; 
    height: 100%; 
    object-fit: cover;
    object-position: 20%;
}

.name-container { 
    display: flex; 
    justify-content: flex-start;
    height: auto; 
    overflow: hidden; 
    word-wrap: normal;
    
}

.form-header { 
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 90%;
    flex-grow: 1; 
    flex-shrink: 0; 
    height: 33%;
    padding-left: 5%; 
    
}

.form-body { 
    display: flex; 
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-grow: 1; 
    flex-shrink: 0; 
    height: 33%;
    box-shadow: 5px 5px 10px gray;
    margin-right: 0px;
    background-color: white; 
    
}

.form-footer { 
    display: flex; 
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    flex-grow: 1; 
    flex-shrink: 0; 
    height: 33%;
    padding-top: 5%; 
    padding-left: 5%; 
    
}

.form-footer a,  .form-footer a:active , .form-footer a:focus  { 
    font-weight: bold; 
    color: forestgreen;
    text-decoration: none; 
}

.form-footer a:active { 
    font-weight: bold; 
    color: forestgreen;
    text-decoration: none; 
}

.theform { 
    display: flex; 
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%; 
    height: 100%;
    flex-shrink: 0; 
    padding-left: 5%; 
    flex-shrink: 1; 
    flex-grow: 1; 
}

.theform h2, .theform div {
    display: flex; 
    flex-shrink: 0;
    width: 100%;
    justify-content: flex-start;
    
}

.theform div div { 
    display: flex; 
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-shrink: 1;
    flex-grow: 0; 
    height: 75px; 

}

label {
    
    line-height: 1; 
    width: 300px;
    margin-top: 10px;
    margin-bottom: 2px; 
    font-size: 14px; 
    font-weight: bold; 
    color:#0000008d


}

input { 
    
    line-height: 1.2; 
    width: 250px; 
    border-radius: 5px; 
    border: 1px solid #E5E7EB; 
    height: 40%; 
    font-size: 1.1em; 
       
}

input:user-invalid {
    border-color: red; 
    border-width: 2px; 
}

button {
    background-color: #596D48;
    color: whitesmoke;
    border: 1px solid #596D48;
    border-radius: 10px;
    font-weight: bold;
    font-size: 18px;
    padding: .8em 2.5em;
    margin: 10px 5px 20px 5px;
    cursor: pointer; 
}

button:hover {
    background-color: #6b8356;
    color: white; 
}




input:focus { 
    border: 1px solid blue; 
}


